th 
{
    color: white;
    background-color: #005d79;
}

table 
{
    width: 100%;
    border-spacing: 0;
    color: #212121;
    text-align: left;
    overflow: hidden;
}


table>tbody>tr>td 
{
    padding: 10px;
    font-size: 15px;
    position: relative;
}

table>tbody>tr:hover 
{
    padding: 20px;
    background-color: #47a5e6;
    color: white;
}

td:hover::after
{
    content: "";
    position: absolute;
    background-color: #47a5e6;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

tr:nth-child(even)
td:first-child::before 
{
    content: "";
    position: absolute;
    background-color: #b2e1ef;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
}

td:hover 
{
    background-color: #47a5e6;
    border: 2px solid white;
}

form 
{
    width: 300px;
}

input 
{
    font-size: 16px;
}

input:invalid 
{
    border-color: red;
}

button
{
    visibility: hidden;
}

form:valid ~ br ~ br~ form:valid ~ br ~ br ~ button 
{
    visibility: visible;
}

td, th 
{
    position: relative;
    padding: 0 20px 0 20px;
    text-align: center;
}
